.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.input {
  margin: 2em;
}

.todo {
  margin: 0.6em;
}

.todoItem {
  border-bottom: 1px solid grey;
}

.done {
  text-decoration: line-through;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.filters {
  display: flex;
  gap: 1em;
}

.todosRender {
  min-height: max-content;
}

.hidden {
  display: none;
}

.selected {
  border-bottom: 2px solid #000;
}

.filters > span {
  cursor: pointer;
}

.button {
  margin: 0.6em;
  border: none;
  background-color: lightcoral;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(155, 55, 55)
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
