.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.input {
  margin: 2em;
}

.todo {
  margin: 0.6em;
}

.done {
  text-decoration: line-through;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.filters {
  display: flex;
  gap: 1em;
}

.todosRender {
  min-height: max-content;
}

.hidden {
  display: none;
}